* {
    margin: 0;
    padding: 0;
}

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
a{
    text-decoration: none;
    color: inherit;
}

.clearfix{
    clear: both;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

ul {
    text-decoration: none;
}

i{
    text-decoration-style: none;
}